testing_env/
RNA_central/
SPRMT_merge_031323_seq.gtf
*.fa
*.fai
*.gtf
*.tsv 
.Rproj.user
*.bed
*.Rmd
*.Rproj
*.bed
*.sam
*.fasta
*.txt
.Rdata
.Rhistory
*.bt2
mirna_to_snorna/
mirna_to_snorna_mi/
piRNAbank_to_pirnadb/
piRNAs/
piRNAs_piRNAbank/
quick_tests.py
testing_functions.py
testing_latest-copy.ipynb
testing_functions.py